version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  notification-service:
    build: .
    container_name: notification-service
    depends_on:
      - rabbitmq
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SERVER_PORT: 8089
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8089:8089"
